.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}

.modal-content {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal-close:before,
.modal-close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 1px;
    background-color: #000;
    transform: rotateZ(45deg) translateY(50%);
}

.modal-close:after {
    transform: rotateZ(-45deg);
}
