.import-nmo__content {
    min-width: 290px;
}

.import-nmo__status-text {
    text-align: center;
}

.import-nmo__user-errors {
    max-height: 130px;
    overflow-x: hidden;
    overflow-y: auto;
}
