.crm-step__content {
    padding-top: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.next-btn {
    margin-top: auto;
    align-self: flex-end;
}

.selector-campaign {
    width: 100%;
}

.campaigns-selector,
.events-selector {
    width: 100%;
}

.get-unisender-statistic,
.get-event-statistic {
    align-items: center;
    justify-content: center;
}

.get-unisender-statistic__progress {
    margin-bottom: 20px;
}

@media screen and (max-width: 450px){
    div.crm-stepper {
        display: none;
    }

    .step {
        margin-top: 0;
    }
}