.events-page__content {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.events-page__left {
    width: 69%;
}

.events-page__right {
    width: 29%;
}

.events-page__right-top {
    display: flex;
    justify-content: space-between;
}

.events-page__right-top-item {
    width: 48%;
}

.events-page__right-top-item .dashboard-block-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.events-page-value {
    font-weight: 600;
    font-size: 32px;
}

.events-page-subtitle {
    color: #a0afc4;
    font-size: 12px;
    margin-top: 10px;
}

.events-visits-chart {
    height: 340px;
}

.events-page__tops {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.events-page__tops .top-five-block {
    width: 48%;
    min-height: 320px;
}

@media screen and (max-width: 1300px){
    .events-page__right-top {
        flex-direction: column;
        justify-content: space-between;
        height: 340px;
    }

    .events-page__right-top-item {
        width: 100%;
    }
}


@media screen and (max-width: 1200px){
    .events-page__content {
        flex-direction: column-reverse;
    }

    .events-page__right,
    .events-page__left {
        width: 100%;
    }

    .events-page__right-top {
        flex-direction: row;
        margin: 20px 0;
        height: unset;
    }

    .events-page__right-top-item {
        width: 48%;
    }
}

@media screen and (max-width: 756px) {
    .events-page__tops {
        flex-direction: column;
    }

    .events-page__tops .top-five-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .events-visits-chart {
        height: 70vw;
    }

    .dashboard-block-content {
        height: 85%;
    }
}
