.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-statistic {
    width: 100%;
}

.promotion-statistic__line {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.promotion-statistic__block {
    width: 32%;
}

.promotion-statistic__total {
    display: flex;
    justify-content: space-between;
}

.promotion-statistic__total > div {
    width: 47%;
}

.promotion-statistic__total .dashboard-block-content {
    display: flex;
    flex-direction: column;
}

.promotion-statistic__total .dashboard-block-title span {
    font-size: 14px;
}

.promotion-statistic__total-value {
    font-size: 32px;
    font-weight: 600;
    margin: auto 0;
}

.promotion-statistic__total-subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #a0afc4;
}

.promotion-statistic__chart-details-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.promotion-statistic__chart-details-color {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 4px;
}

.promotion-statistic__chart-details-name {
    font-size: 16px;
    font-weight: 600;
}

.promotion-statistic__chart-details-value {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
}

.promotion-statistic__chart-details-value span {
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
    color: #a0afc4;
}

@media screen and (max-width: 1450px) {
    .promotion-statistic__line {
        flex-wrap: wrap;
    }

    .promotion-statistic__block {
        width: 48%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .promotion-statistic__line {
        flex-direction: column;
        align-items: center;
    }

    .promotion-statistic__block {
        width: 90%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .promotion-statistic__total {
        flex-direction: column;
    }

    .promotion-statistic__block {
        width: 100%;
    }

    .promotion-statistic__total .total-count-block {
        width: 100%;
        margin-bottom: 20px;
    }

    .promotion-statistic__total .total-count-block:last-child {
        margin-bottom: 0;
    }
}