.medtouch-users__top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.medtouch-users__top button {
    margin-bottom: 10px;
}

.medtouch-users-data {
    height: 60vh;
}