.page-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 420px){
    .page-top {
        flex-direction: column;
    }

    .page-top__right button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
