.plans-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.plan-telemarketer {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-weight: 500;
}

.plans-chart {
    height: 340px;
}

@media screen and (max-width: 992px){
    .plans-list {
        justify-content: center;
    }
}
